.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar::-webkit-scrollbar,.custom-scrollbar::-webkit-scrollbar{
  -webkit-appearance: none;
}
.sidebar::-webkit-scrollbar:vertical,.custom-scrollbar::-webkit-scrollbar:vertical{
  width: 0;
  background-color: transparent;
  border: none;
}
.sidebar::-webkit-scrollbar:horizontal,.custom-scrollbar::-webkit-scrollbar:horizontal {
  height: 0;
  background-color: transparent;
  border: none;
}
.sidebar::-webkit-scrollbar-thumb,.custom-scrollbar::-webkit-scrollbar-thumb{
  background-color:transparent;
  border: 0;
  border-radius: 0;
  height: 0;
}

.scrollbar-ver::-webkit-scrollbar,.custom-scrollbar::-webkit-scrollbar{
  -webkit-appearance: none;
}
.scrollbar-ver::-webkit-scrollbar:vertical,.custom-scrollbar::-webkit-scrollbar:vertical{
  width: 0;
  background-color: transparent;
  border: none;
}
.scrollbar-ver::-webkit-scrollbar:horizontal,.custom-scrollbar::-webkit-scrollbar:horizontal {
  height: 0;
  background-color: transparent;
  border: none;
}
.scrollbar-ver::-webkit-scrollbar-thumb,.custom-scrollbar::-webkit-scrollbar-thumb{
  background-color:transparent;
  border: 0;
  border-radius: 0;
  height: 0;
}
